*
{
	box-sizing: border-box;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C0C0C0;
	color: #000000;
}

header
{
	background-color: #708090;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: #FFF8DC;
}

nav
{
	display: block;
	float: left;
	height: 200px;
	width: 15%;
	background: #4682B4;
	padding: 20px;
	text-align: center;
}

nav ul
{
	list-style-type: none;
	padding: 0;
}

article
{
	float: right;
	padding: 20px;
	width: 85%;
	background-color: #B0C4DE;
	min-height: 300px;
}

footer
{
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
	min-height: 30px;
}