*
{
	box-sizing: border-box;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	color: #000000;
}

header
{
	background-color: #000000;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: #32CD32;
}

nav
{
    overflow: hidden;
	background-color: #556B2F;
}

nav ul
{	float: left;
    display: block;
	color: #ADFF2F;
    text-align: center;
    padding: 14px 16px;
}

nav ul:hover
{
	color: #000000;
	background-color: #ADFF2F;
}

article
{
	float: right;
	padding: 20px;
	width: 100%;
	background-color: #2F4F4F;
	min-height: 300px;
	color: #ADFF2F;
	text-shadow: 2px 2px #000000;
}

column
{
	float: left;
	width: 50%;
}

row:after
{
	content: "";
	display: table;
	clear: both;
}

table
{
	border-spacing: 5px;
}

table, th, td
{
	border: 1px solid #ADFF2F;
	border-collapse: collapse;
	padding: 15px;
}

map
{
	height: 500px;
	width: 100%;
}
	
footer
{
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -3em;
	padding: 10px;
	text-align: center;
	color: #32CD32;
	min-height: 30px;
}